.wp-block-table table{border-collapse:collapse;width:100%}
.wp-block-table td,.wp-block-table th{border:1px solid var(--wp--preset--color--surface);padding:.5rem}
.wp-block-table thead th{background:var(--wp--preset--color--surface)}
